.ellipsis {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.scrollable {
    /*flex: 1 1 0;*/
    /*display: flex;*/
    height: 80%;
    /*border: 1px solid rgba(0, 0, 0, .125);*/
    overflow: scroll;
    /*position: absolute;*/
}
textarea{
    width: 100%;
    resize: none;
}

.scrollable .list-group{
    border: none;
}
/*.container-fluid {*/
    /*display: flex;*/
/*}*/
/*.col-6 {*/
    /*overflow-y: auto;*/
/*}*/